*{
  font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.anchor{
  padding-left: 6rem;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    display: block;
    color: rgb(119, 113, 113);
    text-align: center;
      padding: 14px 12px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover {
    background-color: rgb(119, 113, 113);
    color: black;
  }
  .container{
    padding: 4rem 6rem;
  }
  .box1{
    background-color: rgb(238, 235, 235);
    /* line-height: 3rem; */
    padding: 3rem;
    border-radius: 5px;
  }
  .head{
    font-weight: 500;
    font-size: 55px;
    padding-bottom: 20px;
    color: #333;
  }
  .btn{
    background-color: #2087af;
    width: 7rem;
    font-size: 15px;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border-color: #1a8bdb;
  }
  .mainbtn{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .btn2{
    background-color: #2087af;
    width: 5rem;
    font-size: 14px;
    color: white;
    padding: 7px;
    border-radius: 4px;
    border-color: #1a8bdb;
  }
  .btn3{
      width: 5rem;
      font-size: 14px;
      font-weight: 100;
      padding: 7px;
      background-color: white;
      color: #333;
      border-radius: 4px;
      border: 1px solid rgb(173, 171, 171);
  }
  .para{
    font-size: 20px;
    padding-bottom: 16px;
    line-height: 1.5rem;
    color: #333;
  }
  .line{
    margin-top: 2rem;
    border-color: rgb(255, 255, 255);
  }
  .head2{
    padding-top: 2rem;
    font-weight: 400;
    color: rgb(61, 61, 61);
  }
  .head3{
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
    color: rgb(61, 61, 61);
  }
  .para2{
    text-align: center;
    padding-top: 14px;
    font-size: 12px;
    color: rgb(61, 61, 61);
  }
  .box3{
    float: left;
    margin-top: 10px;
    border: 1px solid rgb(212, 210, 210);
    padding: 4px;
    margin: 11px;
    width: calc(90%/4);
  }
  .box3:nth-child(1){
    margin-left: 0px !important;
  }
  .box3:nth-child(4){
    margin-right: 0px !important;
  }
  .mainbox{
    /* display: inline-block; */
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    float: left;
    
  }
  .imgdesign{
    width: 100%;
  }
  .line2{
    width: 100%;
    margin-top: 20px;
  }
  .footer{
    color:grey;
    padding-top: 3rem;
    font-size: 12px;
  }
  @media only screen and(max-width:500px){
    .box3{
      width:100%;
    }
  }
  
  @media  (max-width:768px)and (min-width:500px){
    .box3{
      width: calc(85%/2);
      margin: 7px;
    }
    .box3:nth-child(3){
      margin-left: 0px;
    }
   
  }
  @media  (min-width:768px)and (max-width:886px){
    .box3{
      margin: 2px;
    }
  }
  @media  (min-width:886px)and (max-width:1012px){
    .box3{
      margin: 5px;
    }
  }
  @media  (min-width:1012px)and (max-width:1250px){
    .box3{
      margin: 7px;
    }
    
   
  }

 